@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

.home{
    /* border: 1px solid wheat; */
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
    margin-top: 40px;
}
.left{
    margin-top: 20px;
    /* width: 60%; */
    /* border:1px solid chartreuse */
}
.UpperName{
    display: flex;
    align-items: center;
    /* border:1px solid yellow; */
    margin-top: 50px;
    /* margin-left: 30px; */
}

.UpperName h1{
    font-weight: bold;
    font-size: 26px;
    font-family: 'Noto Sans', sans-serif;
}

.UpperName img{
    width: auto;
    height:40px;
}

.mainName h1{
    font-weight: bold;
    font-size: 55px;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    /* margin-left: 30px; */
}

.right{
    width: 100%;
    background-image: url("../../Images/Resume_photo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 9px rgba(219, 126, 34, 0.814); */
    box-shadow: inset 0 0 0 9px #078cbe9c;

    

    order: 1;
    justify-self: center;
    width: 400px;
    height: 420px;
    margin-top: 20px;
    animation: profile__animate 6s ease-in-out infinite;
}

@keyframes profile__animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.social{
    width:39%;
    /* border: 1px solid yellow; */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 20px;

}

.social>div{
    padding: 10px;
    font-size: 19px;
    border-radius: 19px;
    background-color: rgb(219 158 129);
    color: black;
}

.resume2{
    width:34%;
    /* border: 1px solid rgb(255, 85, 0); */
    display: flex;
    align-items: center;

    margin-top: 13px;
}

.resume2 p{
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
}

.resume2>div:nth-child(1){
    display: flex;
    align-items: center;
    padding: 9px;
    border-radius: 7px;
    background-color: rgb(219 158 129);
    color: black;
    cursor: pointer;
}



.download2{
    padding: 10px;
    border-radius: 9px;
    background-color: rgb(219 158 129);
    color: black;
    margin-left: 9px;
    font-size: 20px;
    cursor: pointer;
}
.left>h1:nth-child(3){
    font-weight: bold;
    font-size: 36px;
}

@media screen and (max-width:476px){
    .home{
        /* border: 1px solid wheat; */
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-areas: "right right"
                              "left left"      ;
        margin-top: 30px;
    }
    .right{

        grid-area: right;
        width: 290px;
        height:310px;
        margin: auto;
        margin-top: 0px;
        
    }
    .left{
        grid-area: left;
        margin-left: 20px;
        
    }
    .UpperName{
        margin-top: 0px;
    }
    .UpperName h1{
        font-size: 18px;
    }
    .UpperName img{
        height:28px
    }
    .mainName h1{
        font-size: 34px;
    }
    .left>h1:nth-child(3){
        font-size: 23px;
    }
    .social{
        width: 80%;
    }
    
}

@media screen and (min-width:477px) and (max-Width:900px){
    .home{
        max-width: 93%;
    }
    .right{
        width: 360px;
        height: 380px;
    }
    .UpperName h1{
        font-size: 25px;
    }
    .UpperName img{
        height:33px
    }
    .mainName h1{
        font-size: 40px;
    }
    .left>h1:nth-child(3){
        font-size: 30px;
    }
    .social{
        width: 70%;
    }
}

